/* home.css */

/* Apply styles to the container */
/* .homescreen {
  padding: 20px; /* Add padding around the content */
 */

/* Style for Navbar */
.navbar {
  margin-bottom: 20px; /* Add space below the navbar */
}

/* Style for HomeSection */
.homesection {
  margin-bottom: 20px; /* Add space below the home section */
}

/* Style for Testimonial */
.testimonial {
  margin-bottom: 20px; /* Add space below the testimonial section */
}

/* Style for Divider */
.divider {
  margin-bottom: 20px; /* Add space below the divider */
}

/* Style for Footer */
.footer {
  margin-top: 20px; /* Add space above the footer */
}
/* home.css */

/* Apply padding top between Testimonial and Divider */
.testimonial-divider {
  padding-top: 20px;
}
/* Home.css */

.home-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2014/04/17/23/26/environmental-protection-326923_640.jpg');
  background-position: center;
  opacity: 1.0; /* Adjust opacity as needed */
  z-index: -1;
}

.content {
  text-align: center;
  color: white;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  z-index: 1000;
}

.right-section {
  margin-left: auto;
}

.login button,
.signup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px; /* Add margin between buttons */
  min-width: 100px; /* Set minimum width for buttons */
}

.login button:hover,
.signup button:hover {
  background-color: #0056b3;
}
/* footer.css */

.footer {
  display: flex;
  justify-content: left; /* Align items horizontally */
  align-items: center;
}

.footer h1 {
  margin-right: 20px; /* Adjust spacing between title and icons */
}

.footer ul {
  list-style: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
  display: flex;
}

.footer li {
  margin-right: 10px; 
}

.footer a {
  text-decoration: none;
  color: black;
}

/* Style for social media icons */
.footer svg {
  width: 32px;
  height: 32px;
  fill: black;
  transition: fill 0.3s ease; /* Smooth transition for hover effect */
}

.footer svg:hover {
  fill: blue; /* Change color on hover */
}
.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:40px;
}

.contact-container > * {
  margin-bottom: 20px;
}
.contact--icons1 {
  display: flex;
  align-items: center;
}

.contact--icons1 img {
  margin-right: 20px;
}


