/* app.css */

/* .navbar {
  display: flex;
  justify-content:right;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.right-section {
  margin-left: auto;
}

.login button,
.signup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.login button:hover,
.signup button:hover {
  background-color: #0056b3;
} */

/* Style for the modals */
/* Add your modal styles here if needed */
